

.footer{
    .container {
        padding: 30px 8vw;
    }
    background-color: black;
    color: white;
    p{
        font-size: 16px !important;
    }
    .copyright{
        font-size: 30px;
    }
}