.navbar{
    background-color: black;
}
.container {
    color: white;
    margin: auto;
    display: flex;
    width: 100%;
    // max-width: 1300px;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding: 0px 15px;

    .logo {
        h1{
            margin-bottom: auto !important;

            color: white;
            font-family: 'Cocogoose',Helvetica, sans-serif;
            text-transform: uppercase;
            font-size: 20px;
        }
    }

    .contact {
        svg {
            color: white;
            fill: white;

            width: 22px;
            gap: 10px;
            margin-left: 10px;
            // margin-right: 10px;
        }
    }
}

@media (min-width: 768px) {
  .container {
    height: 5vh;
  }

}