@import "variables.module";

.navbar{
    background-color: $red;
}
.container {
    color: white;
    margin: auto;
    display: flex;
    width: 100%;
    // max-width: 1300px;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding: 0px 15px;

    .logo {
        position: relative;
        img{
            height: 5vh;
            width: auto;


        }
        display: flex;
        // justify-self: center;
        align-items: center;
        h1{
            margin-top: 3%;
            margin-bottom: auto !important;

            color: white;
            font-family: 'Cocogoose',Helvetica, sans-serif;
            text-transform: uppercase;
            font-size: 3.6vh;
            line-height: 3.3vh;
            vertical-align:middle;
        }
    }

    .contact {
        p{
            color: white;
            padding-right: 7vw;
            margin: 0;
            margin-bottom: -2%;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            color: white;
            fill: white;
            height: 50%;
            width: 22px;
            line-height: 22px;
            gap: 10px;
            margin-left: 10px;
            // margin-right: 10px;
        }
    }
}

@media (min-width: 768px) {
  .container {
    height: 8vh;
  }

}